<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Feedster</title>
    </head>

    <body>
        <h1>Feedster is cool</h1>
        {{{body}}}
    </body>

</html>