<section style="position: relative;">
    
    <div class="card bg-salmon mb-3" style="max-width: 17rem; position: absolute; top: 3.5rem; left: 2.3rem; width: 16rem;">
        <div class="card-header" style="background: #55acee; color: black; text-align: center; font-weight: bold;">{{name}}</div>
        <div class="card-body" style="background: #66757f;">
            <p style="text-align: center; padding: .5rem;"><a href="/" class="card-text" style="color: white; text-decoration: none;">Home</a></p>

            <p style="text-align: center; padding: .5rem;"><a href="/profile" class="card-text" style="color: white; text-decoration: none;">Profile</a></p>

        </div>
    </div>

<section class="d-flex flex-column align-items-center" style="padding-top: 3.5rem;">

    <div>
        <ol>
            <div class="card" style="width: 23rem; float: none;">
                <li class="list-group-item" style="background: #55acee">
                    <h5 style="float: left; font-weight: bold;">Feed title</h5>
                </li>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Tweet 1</li>
                    <li class="list-group-item">Tweet 2</li>
                    <li class="list-group-item">Tweet 3</li>
                    <li class="list-group-item">Tweet 4</li>
                    <li class="list-group-item">Tweet 5</li>
                </ul>
            </div>
        </ol>
    </div>
    <div>
        <ol>
            <div class="card" style="width: 23rem; float: none;">
                <li class="list-group-item" style="background: #55acee">
                    <h5 style="float: left; font-weight: bold;">Feed title</h5>                    
                </li>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Tweet 1</li>
                    <li class="list-group-item">Tweet 2</li>
                    <li class="list-group-item">Tweet 3</li>
                    <li class="list-group-item">Tweet 4</li>
                    <li class="list-group-item">Tweet 5</li>
                </ul>
            </div>
        </ol>
    </div>
    <div>
        <ol>
            <div class="card" style="width: 23rem; float: none;">
                <li class="list-group-item" style="background: #55acee">
                    <h5 style="float: left; font-weight: bold;">Feed title</h5>
                </li>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Tweet 1</li>
                    <li class="list-group-item">Tweet 2</li>
                    <li class="list-group-item">Tweet 3</li>
                    <li class="list-group-item">Tweet 4</li>
                    <li class="list-group-item">Tweet 5</li>
                </ul>
            </div>
        </ol>
    </div>

</section>

    <div class="card bg-white mb-3" style="max-width: 17rem; position: absolute; top: 3.5rem; right: 2.3rem; width: 16rem;">
        <div class="card-header" style="background: #55acee; color: black; text-align: center; font-weight: bold;">Search Feeds</div>
        <div class="card-body" style="background: #66757f;">
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-light" type="submit">Search</button>
              </form>
              <p style="text-align: center; padding: .5rem;"><a href="" class="card-text" style="color: white; text-decoration: none;">Web Development</a></p>
              <p style="text-align: center; padding: .5rem;"><a href="" class="card-text" style="color: white; text-decoration: none;">Sports</a></p>
              <p style="text-align: center; padding: .5rem;"><a href="" class="card-text" style="color: white; text-decoration: none;">Gaming</a></p>
        </div>
    </div>

</section>