<section class="feeds" style="margin-top: 2.5rem">

    <div class="pin_container">
        <div class="card card_small"></div>
        <div class="card card_medium"></div>
        <div class="card card_large"></div>
        <div class="card card_medium"></div>
        <div class="card card_small"></div>
        <div class="card card_large"></div>
        <div class="card card_medium"></div>
        <div class="card card_small"></div>
        <div class="card card_medium"></div>
        <div class="card card_small"></div>
        <div class="card card_medium"></div>
        <div class="card card_large"></div>
        <div class="card card_medium"></div>
        <div class="card card_small"></div>
        <div class="card card_medium"></div>
        <div class="card card_large"></div>
    </div>

</section>
<script src="../js/homepage.js"></script>