main index page to be created.. User is logged in:
{{#if loggedIn}}
    True
{{else}}
    False
{{/if}}

<ul>
    <li><a href="/signup/">Signup</a></li>
    <li><a href="/login/">Login</a></li>
    <li><a href="/logout/">Logout</a></li>
</ul>