<div class="container py-5 h-100"><br />
    <div class="row d-flex justify-content-center align-items-center mt-4">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5"><br />
            <div
                class="main-card card text-black"
                style="border-radius: 1rem; filter:drop-shadow(5px 5px 5px black)"
            >
                <div class="card-body p-5 text-center">
                    <p style="font-size: 1.5rem;">You have successfully logged
                        out!</p>
                    <a href="/"><button
                            class="btn text-white btn-black btn-outline-dark btn-lg px-5 login-submit"
                            type="submit"
                        >Return Home</button></a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../js/logout.js"></script>