{{! gradient-custom is providing the shaded background }}
<section class="w-auto p-3 gradient-custom">
    <div class="container py-5 h-200">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-lg-12 col-lg-6 col-xl-11 col-xl-5 col-md-8">
                <div class="card main-card" style="border-radius: 1rem">
                    <div class="card-body p-5 text-center">
                        <div class="mb-md-5 mt-md-4 pb-5">
                            {{! updated for smaller screen responsiveness }}
                            <h2
                                class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4 text-uppercase"
                            >Sign up</h2>
                            <p class="text-black mb-5">
                                Please enter a Username, an Email, and a
                                Password!
                            </p>
                            {{! grouped all these inputs into a form for responsiveness }}
                            <form class="mx-1 mx-md-4">
                                <div class="form-outline form-white mb-4">
                                    <div
                                        class="d-flex flex-row align-items-center mb-4"
                                    >
                                        <i
                                            class="fas fa-user fa-lg me-3 fa-fw"
                                        ></i>
                                        <div
                                            class="form-outline flex-fill mb-0"
                                        >
                                            {{! mb-0 eliminates the margin bottom }}
                                            <input
                                                type="username"
                                                id="typeUsernameX"
                                                placeholder="Username e.g. FeedsterFan2021"
                                                class="form-control form-control-lg"
                                                required
                                            />
                                            {{! marked the field required and added a pattern pattern="[A-Za-z0-9]" }}
                                            <label
                                                class="form-label"
                                                for="typeUsernameX"
                                                placeholder="Username"
                                            ></label>
                                        </div>
                                    </div>

                                    <div class="form-outline form-white mb-4">
                                        <div
                                            class="d-flex flex-row align-items-center mb-4"
                                        >
                                            <i
                                                class="fas fa-envelope fa-lg me-3 fa-fw"
                                            ></i>
                                            {{! added a font icon }}
                                            <div
                                                class="form-outline flex-fill mb-0"
                                            ></div>
                                            {{! mb-0 eliminates the margin bottom }}
                                            <input
                                                type="email"
                                                id="typeEmailX"
                                                placeholder="Email e.g. feedsterfan2021@gmail.com"
                                                class="form-control form-control-lg"
                                                required
                                            />
                                            {{! marked the field required and added, a pattern . referenced : https://docs.netapp.com/oci-73/index.jsp?topic=%2Fcom.netapp.doc.oci-acg%2FGUID-452051E1-0F8B-415E-87FE-D8AD97881072.html pattern="^[A-Z0-9._%+-]+@[A-Z0-9.-]+\\.[A-Z]{2,4}$"}}
                                            <label
                                                class="form-label"
                                                for="typeEmailX"
                                                placeholder="Email"
                                            ></label>
                                        </div>
                                    </div>

                                    <div class="form-outline form-white mb-4">
                                        <div
                                            class="d-flex flex-row align-items-center mb-4"
                                        >
                                            <i
                                                class="fas fa-lock fa-lg me-3 fa-fw"
                                            ></i>{{! added a font icon }}
                                            <div
                                                class="form-outline flex-fill mb-0"
                                            >
                                                {{! mb-0 eliminates the margin bottom }}
                                                <input
                                                    type="password"
                                                    placeholder="Password (minimum 6 characters)"
                                                    id="typePasswordX"
                                                    class="form-control form-control-lg"
                                                    required
                                                    min="6"
                                                />
                                                {{! marked the field required and added a pattern pattern="[A-Za-z0-9]" }}
                                                <label
                                                    class="form-label"
                                                    for="typePasswordX"
                                                ></label>
                                            </div>
                                        </div>
                                    </div>

                                    {{! confirming the password entered }}
                                    <div class="form-outline form-white mb-4">
                                        <div
                                            class="d-flex flex-row align-items-center mb-4"
                                        >
                                            <i
                                                class="fas fa-key fa-lg me-3 fa-fw"
                                            ></i>{{! added a font icon }}
                                            <div
                                                class="form-outline flex-fill mb-0"
                                            >
                                                {{! mb-0 eliminates the margin bottom }}
                                                <input
                                                    type="password"
                                                    placeholder="Repeat Password (should match what was entered above)"
                                                    id="typePasswordAgainX"
                                                    class="form-control form-control-lg"
                                                    required
                                                />
                                                {{! marked the field required and added a pattern pattern="[A-Za-z0-9]"" }}
                                                <label
                                                    class="form-label"
                                                    for="typePasswordAgainX"
                                                ></label>
                                            </div>
                                        </div>
                                    </div>

                                    {{! added a check box to agree to terms of service }}
                                    <div
                                        class="form-check d-flex justify-content-center mb-5"
                                    >
                                        <input
                                            class="form-check-input me-2"
                                            type="checkbox"
                                            value=""
                                            id="Terms"
                                            required
                                        />
                                        <label
                                            class="form-check-label"
                                            for="Terms"
                                        >
                                            I agree to all
                                            <a href="#!">Terms of service</a>
                                        </label>
                                    </div>

                                    <button
                                        class="btn text-black btn-black btn-outline-dark btn-lg px-5 gradient-custom submit-signup"
                                        type="submit"
                                    >
                                        Sign up
                                    </button>
                                </div>
                                <p
                                    class="text-center text-muted mt-5 mb-0"
                                >Already have an account?
                                    <a
                                        href="/login"
                                        class="fw-bold text-body"
                                    ><u>Login here</u></a></p>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="../js/signup.js"></script>