.gradient-custom {
    background-image: linear-gradient(to right, #fff, #55aceeff);
}

.main-card {
    background-color: #e1e8ed;
    border-radius: 5px;
    border: 1px solid #595959;
}

.submit-signup {
    background-color: #66757f;
    color: #e1e8ed;
    border-radius: 5px;
    border: 1px solid #595959;
}

.form-control {
    border: 1px solid #595959;
}